.bg-player-root-css {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.bg-player-replace-child {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
}

.bg-player-parent-css {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.bg-player-window {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  flex-direction: row;
  background-color: transparent;
}
.bg-player-view {
  position: absolute;
  align-items: center;
  background-color: transparent;
}
.bg-player-background-img {
  position: absolute;
  border-radius: 0;
  background-color: transparent;
}
.bg-player-mask {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-player-shadow {
  position: absolute;
  background-color: transparent;
}


.bg-player-list-loading-text {
  width: 200px;
  height: 46px;
  background-color: transparent;
  margin-top: 25px;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.55);
}

.bg-player-list-item {
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.bg-player-list-item-text {
  background-color: transparent;
  position: absolute;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.55);
  focus-color: #13161b;
  select-color: #FFFFFF;
}

.bg-player-list-item-img-bg {
  width: 403px;
  height: 160px;
  background-color: transparent;
  position: absolute;
  z-index: 200;
}

.bg-player-list-item-img {
  width: 403px;
  height: 160px;
  background-color: transparent;
}

.bg-player-list-item-play-icon {
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  top: 100px;
  right: 10px;
}
