.bg-player-root-css {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.bg-player-replace-child {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
}

.bg-player-parent-css {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.bg-player-window {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  flex-direction: row;
  background-color: transparent;
}
.bg-player-view {
  position: absolute;
  align-items: center;
  background-color: transparent;
}
.bg-player-background-img {
  position: absolute;
  border-radius: 0;
  background-color: transparent;
}
.bg-player-mask {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-player-shadow {
  position: absolute;
  background-color: transparent;
}

.bg-player-list {
  background-color: transparent;
  border-radius: 16px;
  position: absolute;
  top: 215px;
  left: 80px;
}

.bg-player-list-loading {
  width: 907px;
  height: 510px;
  background-color: transparent;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.bg-player-list-loading-text {
  width: 200px;
  height: 46px;
  background-color: transparent;
  margin-top: 25px;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.55);
}

.bg-player-list-item {
  width: 403px;
  height: 116px;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  focus-background-color: rgba(255, 255, 255, 0.9);
}

.bg-player-list-item-text {
  width: 403px;
  height: 116px;
  background-color: transparent;
  font-size: 28px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.55);
  focus-color: #13161b;
}
