
.history-item-root-css{
  background-color: transparent;
}
.history-item-null-root{
  border-radius: $theme-img-border;
  background-color: rgba(255,255,255,0.06);
}
.history-item-null-text{
  margin-top: 26px;
  margin-left: 36px;
  color: white;
  width: 144px;
  height: 45px;
  background-color: transparent;
}
.history-item-null-text-tip{
  width: 230px;
  height: 36px;
  color: rgba(255,255,255,0.5);
  margin-top: 14px;
  margin-left: 36px;
  background-color: transparent;
}
