$home-width:1920px;
$home-height:1080px;

.home-root-css{
  width: $home-width;
  height: $home-height;
  background-color: $theme-bg-color;
}

.logo-root-css{
  position: absolute;
  width: 310px;
  height: 60px;
  right:90px;
  flex-direction: row-reverse;
  background-color: transparent;
}


