
.placeholder-root-css{
  position: absolute;
  background-color: transparent;
  display: flex;
  z-index: 1;
}

.placeholder-img{
  position: absolute;
  background-color: transparent;
  border-radius: $theme-img-border;
  z-index: 899;
}
