
.place-holder-root-css{
  position: absolute;
  background-color: transparent;
  display: flex;
  z-index: 1;
}

.place-holder-img{
  position: absolute;
  background-color: transparent;
  border-radius: $gl-theme-img-border;
  z-index: 899;
}
