@use "../../../components/top-view" as *;

$nav-bar-margin-top: 114px;
%full-screen {
  width: 1920px;
  height: 1080px;
}

.waterfall-tabs-root-css {
  @extend %full-screen;
  background-color: transparent;
}

.waterfall-tabs-4k-logo {
  top: 72px;
  align-self: center;
  position: absolute;
  background-color: transparent;
}
.waterfall-tabs-bg-player{
  position: absolute;
  background-color: transparent;
}
.waterfall-top-view {
  width: 1920px;
  height: $top-view-height;
  background-color: transparent;
}

.waterfall-qt-tabs-css {
  @extend %full-screen;
  position: absolute;
  background-color: transparent;
}

.waterfall-tab-bar-css {
  width: 1920px;
  height: 80px;
  background-color: transparent;
  margin-top: $nav-bar-margin-top;
  z-index: 100;
  clip-children: false;
}

.waterfall-content-css {
  @extend %full-screen;
  position: absolute;
  background-color: transparent;
  clip-children: false;
}
