.filter-main-contents-grid-item-h {
  width: 320px;
  height: 226px;
  background-color: transparent;
}

.filter-main-contents-grid-item-h-img {
  width: 320px;
  height: 180px;
  background-color: transparent;
  margin-bottom: 11px;
}

.filter-main-contents-grid-item-h-text {
  position: absolute;
  width: 320px;
  height: 40px;
  background-color: transparent;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  focus-color: #ffffff;
}

.filter-main-contents-grid-item-v {
  width: 260px;
  height: 414px;
  background-color: transparent;
}

.filter-main-contents-grid-item-v-img {
  width: 260px;
  height: 368px;
  background-color: transparent;
  margin-bottom: 11px;
}

.filter-main-contents-grid-item-v-text {
  position: absolute;
  width: 260px;
  height: 40px;
  background-color: transparent;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  focus-color: #ffffff;
}
