.filter-main-conditions-list-record-item {
  height: 46px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 8px;
}

.filter-main-conditions-list-record-item-text {
  height: 38px;
  color: $theme-text-normal-color;
  font-size: 28px;
  padding-left: 8px;
  padding-right: 8px;
}

.filter-main-conditions-list-row {
  width: 1920px;
  height: 66px;
  background-color: transparent;
}

.filter-main-conditions-list-row-item {
  height: 54px;
  background-color: transparent;
  padding: 24px;
  border-radius: 30px;
  justify-content: center;
  focus-background-color: $theme-btn-focus-color;
}

.filter-main-conditions-list-row-item-text {
  position: absolute;
  height: 40px;
  color: $theme-text-normal-color;
  font-size: 30px;
  focus-color: $theme-text-focus-color;
  select-color: $theme-text-select-color;
}
