.filter-main-contents-grid-item-h {
  width: 320px;
  height: 226px;
  background-color: transparent;
}

.filter-main-contents-grid-item-h-img {
  width: 320px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 11px;
}

.filter-main-contents-grid-item-h-score {
  width: 325px;
  height: 70px;
  background-color: transparent;
  position: absolute;
  top: 110px;
}

.filter-main-contents-grid-item-h-score-text {
  width: 60px;
  height: 30px;
  background-color: transparent;
  margin-left: 16px;
  margin-top: 31px;
  color: #ff5415;
  font-size: 24px;
}

.filter-main-contents-grid-item-h-text {
  position: absolute;
  left: 16px;
  width: 304px;
  height: 40px;
  background-color: transparent;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  focus-color: #ffffff;
}

.filter-main-contents-grid-item-v {
  width: 260px;
  height: 414px;
  background-color: transparent;
}

.filter-main-contents-grid-item-v-img {
  width: 260px;
  height: 368px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 11px;
}

.filter-main-contents-grid-item-v-score {
  width: 260px;
  height: 90px;
  background-color: transparent;
  position: absolute;
  top: 278px;
}

.filter-main-contents-grid-item-v-score-text {
  width: 60px;
  height: 40px;
  background-color: transparent;
  margin-left: 20px;
  margin-top: 49px;
  color: #ff5415;
  font-size: 24px;
}

.filter-main-contents-grid-item-v-text {
  position: absolute;
  left: 14px;
  width: 232px;
  height: 40px;
  background-color: transparent;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  focus-color: #ffffff;
}
