.filter-main {
  height: 950px;
  background-color: transparent;
  margin-top: 10px;
}

.filter-main-scroll {
  height: 950px;
  background-color: transparent;
}

.filter-main-box-img {
  width: 160px;
  height: 142px;
  background-color: transparent;
}

.filter-main-box {
  height: 950px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
}

.filter-main-box-text {
  width: 140px;
  height: 40px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
  font-size: 30px;
  margin-top: 25px;
}

.filter-main-conditions {
  background-color: transparent;
  /* margin-top: 24px; */
  margin-bottom: 15px;
}

.filter-main-conditions-list {
  background-color: transparent;
}

.filter-main-conditions-record {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.filter-main-contents {
  height: 950px;
  background-color: transparent;
}

.filter-main-contents-grid {
  height: 950px;
  background-color: transparent;
}
