.search-keyboard {
  width: 634px;
  height: 1080px;
  background-color: transparent;
  align-items: center;
}

.search-keyboard-input {
  width: 466px;
  height: 40px;
  background-color: transparent;
  margin-top: 103px;
  flex-direction: row;
  align-items: center;
}

.search-keyboard-input-icon {
  width: 36px;
  height: 36px;
  background-color: transparent;
}

.search-keyboard-input-text {
  width: 400px;
  height: 50px;
  background-color: transparent;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.35);
  font-size: 30px;
}

.search-keyboard-input-bottom {
  width: 466px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 13px;
}

.search-keyboard-btns {
  width: 466px;
  height: 60px;
  background-color: transparent;
  margin-top: 35px;
  flex-direction: row;
  justify-content: space-between;
}

.search-keyboard-grid {
  width: 530px;
  height: 590px;
  background-color: transparent;
  margin-top: 40px;
}

.search-keyboard-grid-item {
  width: 88px;
  height: 88px;
  background-color: transparent;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  focus-background-color: $theme-btn-focus-color;
}

.search-keyboard-grid-item-text {
  position: absolute;
  color: white;
  font-size: 40px;
  focus-color: $theme-text-focus-color;
}

.search-keyboard-btn {
  width: 160px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  focus-background-color: $theme-btn-focus-color;
}

.search-keyboard-btn-text {
  position: absolute;
  width: 60px;
  height: 40px;
  right: 30px;
  color: white;
  font-size: 30px;
  focus-color: $theme-text-focus-color;
}
