.search {
  width: 1920px;
  height: 1080px;
  background-color: transparent;
}

.search-columns-body {
  background-color: transparent;
  flex-direction: row;
}

.search-columns-body-loading {
  height: 1080px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  position: absolute;
}
