/**
 首页全局样式
 */
.home-root-css{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
}
/**
 瀑布流全局样式
 */
.waterfall-tab-root-css{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
}
/**
 瀑布流全局背景样式
 */
.waterfall-bg-css{
    position: absolute;
    width: 1920px;
    height:1080px;
}
/**
 瀑布流顶部区域样式
 */
.buttons-header-css{
    position: relative;
    width: 1920px;
    height: 120px;
    background-color: transparent;
}
/**
 瀑布流整体样式
 */
.qt-tabs-css {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: transparent;
}
/**
 瀑布流整体导航Tab样式
 */
.qt-tabs-waterfall-tab-css {
    width: 1920px;
    height: 80px;
    background-color: transparent;
    margin-top: 125px;
    z-index: 100;
    clip-children:false;
}
/**
 瀑布流整体内容样式
 */
.qt-tabs-waterfall-css {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    clip-children:false;
}


