.history {
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  flex-direction: row;
}

.history-sidebar {
  width: 340px;
  height: 1080px;
  background-color: rgba(255, 255, 255, 0.03);
}

.history-sidebar-tips {
  width: 340px;
  height: 50px;
  background-color: transparent;
  margin-top: 75px;
  margin-bottom: 30px;
  color: white;
  font-size: 40px;
}

.history-sidebar-item {
  width: 340px;
  height: 106px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  focus-background-color: $gl-theme-btn-bg-focus-color;
  focus-border-radius: 8px;
}

.history-sidebar-item-text {
  width: 340px;
  height: 106px;
  background-color: transparent;
  position: absolute;
  color: $text-normal-color;
  font-size: 36px;
  focus-color: $text-focus-color;
  select-color: $text-select-color;
}

.history-content {
  width: 1580px;
  height: 1080px;
  background-color: transparent;
}

.history-content-item {
  width: 325px;
  height: 266px;
  background-color: transparent;
}

.history-content-item-title {
  width: 325px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  color: $text-normal-color;
  font-size: 30px;
  focus-color: white;
}

.history-content-item-progress {
  width: 325px;
  height: 34px;
  background-color: transparent;
  color: $text-normal-color;
  font-size: 24px;
}

.history-content-item-end {
  width: 1580px;
  height: 100px;
  background-color: transparent;
}

.history-content-item-end-text {
  width: 1580px;
  height: 100px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
  font-size: 28px;
}
