$home-width:1920px;
$home-height:1080px;

.detail-full-screen{
  width: $home-width;
  height: $home-height;
  background-color: $gl-theme-root-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content{
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    background-color: transparent;
  }
  .skeleton{
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    img{
      width: 1920px;
      height: 1080px;
    }
  }
}

