.search_result{
  width: 1920px;
  height: 1080px;
  flex-direction: column;
  background-color: transparent;
}
.search_result_title_root_top {
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 69px;
  top: 94px;
  z-index: 666;
}
.ic_search_left_arrow{
  width: 22px;
  height: 38px;
  position: absolute;
  left:-10px;
  top: 10px;
}

.search_result_view_title_result{
  margin-left: 24px;
  height: 50px;
  font-size: 40px;
  color: #fff;
}


.search_result .qt_tabs_css {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
}

.search_result .qt_tabs_waterfall_tab_css {
  width: 1920px;height: 80px;
  background-color: transparent;
  margin-top: 155px;
  z-index: 100;
  clip-children:false;
}
.search_result .qt_tabs_waterfall_css {
  position: absolute;
  margin-top: 0;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  clip-children:false;
}
.waterfall_nav_item{
  height: 60px;
  padding-left: 24px;
  padding-right: 24px;
  focus-background-color: #ffffff;
  background-color: transparent;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waterfall_nav_item_text{
  height: 70px;
  color: rgba(255,255,255,0.7);
  select-color:#FF4e46;
  focus-color:black;
}

.empty_view{
  position: absolute;
  width: 1920px;
  height: 1080px;
  padding-top:130px;
  justify-content: center;
  align-items: center;
}
.empty_view_image{
  width: 560px;
  height: 350px;
}
.empty_view_text{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 26px;
}
