.search_keyboard{
  width: 634px;
  height: 1080px;
  padding-left: 84px;
  padding-right: 84px;
  background-color: transparent;
}
.search_keyboard_bg {
  width: 634px;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
}
.search_keyboard_input_root{
  margin-top: 106px;
  margin-left: 2px;
  margin-right: 2px;
  flex-direction: row;
}
.search_keyboard_search_icon{
  width: 36px;
  height: 36px;
  background-color: transparent;
}
.search_keyboard_input_text{
  margin-left: 24px;
  width: 500px;
  height: 36px;
  font-size: 28px;
  flex: 1;
  color: white;
  numberOfLines: 1;
}
.search_keyboard_input_placeholder_text{
  color: rgba(255,255,255,0.5);
  margin-left: 24px;
  width: 364px;
  height: 36px;
}
.search_keyboard_search_line{
  height: 2px;
  background-color: rgba(255, 255, 255, .2);
  margin-top: 18px;
  border-radius: 1px
}

.search_keyboard_input_option_btns {
  padding-top: 28px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.search_keyboard_option_btn {
  width: 160px;
  height: 60px;
  border-radius: 99px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  focus-background-color: rgba(255,255,255,1);
}

.search_keyboard_option_btn .delete_btn_icon{
  width: 32px;
  height: 32px;
  position: absolute;
}
.search_keyboard_option_btn .btn_text{
  color: rgba(255, 255, 255, .5);
  focus-color: rgba(0, 0, 0, 1);
  margin-left: 10px;
  width: 70px;
  height: 60px;
}


.search_keyboard_list {
  width: 480px;
  height: 480px;
  background-color: transparent;
}
.search_keyboard_item{
  width: 80px;
  height: 80px;
  background-color: transparent;
  focus-background-color:#fff;
  border-radius: 8px;
}
.search_keyboard_item_text{
  width: 80px;
  height: 80px;
  color: #fff;
  focus-color: rgba(0, 0, 0, 1);
  border-radius: 8px;
}

