.search_root {
  width: 1920px;
  height: 1080px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.search_root_bg {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0;top: 0;
  background-color: transparent;
}
.search_scroll_view{
  width: 1920px;
  height: 1080px;
  flex: 1;
  background-color: transparent;
}
.scroll_view_content{
  height: 1080px;
  flex: 1;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.search_start_loading{
  height: 1080px;
  background-color: transparent;
  position: absolute;
  top:0;
  justify-content: center;
  align-items: center;
}

.search_result_loading {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  right:0;
  top: 0;
  height: 1080px;
}
