$gl-theme-60-border-radius:30px;
//全局背景色
$gl-theme-root-bg-color:#252930;

//整体按钮焦点，选中，默认色
$gl-theme-btn-bg-normal-color:rgba(255,255,255,0.3);
$gl-theme-btn-bg-select-color:transparent;
$gl-theme-btn-bg-focus-color:white;

//整体文字焦点，选中，默认色
$text-normal-color:#BFBFBF;
$text-select-color:#FF5E90;
$text-focus-color:#0E0E0E;

//全局图片圆角
$gl-theme-img-border:16px;
