//顶部views总高度
$top-view-height:120px;
//logo 宽高
$top-logo-width:274px;
$top-logo-height:60px;

.top-view-root-css{
  position: absolute;
  width: 1920px;
  height: $top-view-height;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-right {
  flex-direction: row;
  padding-left: 80px;
}

.logo-left {
  flex-direction: row-reverse;
  padding-right: 80px;
}

.top-view-root-css .logo-default{
  position: absolute;
  width: $top-logo-width;
  height: $top-logo-height;
}

.top-view-root-css .img-left{
  left: 90px;
}

.top-view-root-css .img-right{
  right: 90px;
}
