/**
筛选全局样式
 */
.screen-root-css{
    width: 1920px;
    height: 1080px;
    background-color: #252930;
}
/*****************左侧列表*************************/
/**
左侧列表全局样式
 */
.screen-left-root-css{
    /* position: absolute; */
    left: 0;
    background-color: transparent;
}
/**
左侧列表背景
 */
.screen-left-root-css .screen-left-bg{
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
}
/**
左侧列表标题
 */
.screen-left-root-css .screen-left-title{
    height: 60px;
    color: white;
    margin-bottom: 8px;
    background-color: transparent;
}
/**
左侧列表标题
 */
.screen-left-root-css .screen-left-title-img{
    height: 60px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

/**
左侧列表样式
 */
.screen-left-root-css .screen-left-tags-root-css{
    background-color: transparent;
}


/***********************右侧内容**************************/
.screen-right-root-css{
    /* position: absolute; */
    background-color: transparent;
}

.screen-scroll {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
}

.screen-content {
    width: 2320px;
    height: 1080px;
    background-color: transparent;
    flex-direction: row;
}

.screen-content-left-expand {
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.screen-content-left-expand-text {
    width: 300px;
    height: 100px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 26px;
}
