/**
筛选全局样式
 */
.screen-root-css{
    width: 1920px;
    height: 1080px;
    background-color: #252930;
}
/*****************左侧列表*************************/
/**
左侧列表全局样式
 */
.screen-left-root-css{
    position: absolute;
    top:120px;
    left: 0;
    width: 360px;
    height: 960px;
    background-color: transparent;
}
/**
左侧列表背景
 */
.screen-left-root-css .screen-left-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 340px;
    height: 960px;
    background-color: transparent;
}
/**
左侧列表标题
 */
.screen-left-root-css .screen-left-title{
    width: 340px;
    height: 60px;
    color: white;
    margin-bottom: 8px;
    background-color: transparent;
}
/**
左侧列表标题
 */
.screen-left-root-css .screen-left-title-img{
    width: 320px;
    height: 60px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

/**
左侧列表样式
 */
.screen-left-root-css .screen-left-tags-root-css{
    width: 360px;
    height: 900px;
    background-color: transparent;
}


/***********************右侧内容**************************/
.screen-right-root-css{
    width: 1800px;
    height: 960px;
    background-color: transparent;
    position: absolute;
    top: 120px;
    left: 60px;
}
