/**
左侧列表 Item样式
 */
.screen-left-item-tags-root-css{
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/**
左侧列表 Item选中背景样式
 */
.screen-left-item-tags-root-css .screen-left-item-tags-bg{
    position: absolute;
    background-color: transparent;
}
/**
左侧列表 Item 带角标文字标题样式
 */
.screen-left-item-tags-root-css .screen-left-item-tags-text{
    color: rgba(255, 255, 255, 0.5);
    focus-color: black;
    select-color: white;
    background-color: transparent;
}

/**
左侧列表 Item 角标div样式
 */
.screen-left-item-tags-root-css .screen-left-item-tags-icon-div{
    width: 34px;
    height: 34px;
    margin-right: 12px;
    background-color: transparent;
}
/**
左侧列表 Item 角标样式
 */
.screen-left-item-tags-root-css .screen-left-item-tags-icon-div .screen-left-item-tags-icon{
    width: 34px;
    height: 34px;
    position: absolute;
}


.screen-left-item-img-root-css{
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.screen-left-item-img-root-css .screen-left-item-img{
    position: absolute;
    align-self: center;
}
