$home-width:1920px;
$home-height:1080px;

.detail-root-css{
  width: $home-width;
  height: $home-height;
  background-color: $theme-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .detail-waterfall-css{
    width: $home-width;
    height: $home-height;
    background-color: $theme-bg-color;
    position: absolute;
  }
  .detail-media-player{
    background-color: transparent;
  }
}

