.short_video_section{
  position: absolute;
  background-color: yellow;
}
.list_section_root{
  background-color: aqua;
}
.tab_list_section{
  background-color: #E25D8A;
}
.tab_list_section_item{
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  focus-background-color: #157AFC;
  background-color: transparent;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab_list_section_item_text{
  height: 50px;
  color: rgba(255,255,255,0.7);
  select-color:#FF4e46;
  focus-color:white;
}
.list_section{
  background-color: blue;
}
.list_section_item{
  background-color: #252525;
  flex-direction: row;
  focus-border-radius: 9px;
  border-radius: 9px;
}
.lsi_img{
  width: 256px;
  height: 144px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.lsi_r{
  width: 284px;
  height: 144px;
  background-color: transparent;
}
.lsi_r_t{
  width: 284px;
  height: 72px;
  background-color: transparent;
}
.lsi_r_t_text{
  width: 284px;
  height: 72px;
  color: #BFBFBF;
  select-color: #E25D8A;
  focus-color: #E25D8A;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}
.play_Mark{
  position: absolute;
  width: 42px;
  height: 30px;
  background-color: transparent;
  top: 14px;
  left: 0;
}
.lsi_r_b_text{
  width: 284px;
  height: 25px;
  background-color: transparent;
  color: #636363;
  margin-top: 29px;
}